*{
    margin:auto;
    /* border-style: solid;
    border-width: 1px; */
    text-align: center;
}

#ele{
    height: 80px;
    background-color: bisque;
    padding: 0;
    position: fixed;
    width:1152px;
    margin-top: -13em;
}

ol{
    display: inline-block;
    width: 5em;
    background-color: beige;
    border-radius:5px;
    padding:5px 10px;
    margin-left: 1em;
    margin-top: 1em;
}

body{
    padding: 0 10%;
}

div{
    padding:0 10%;
    height: 720px;
}

tr, td{
    height: 5em;
    width: 5em;
    font-size: 125%;
    border-style: solid;
    border-width: 3px;

    background-color: #d3a4ff;
    margin: 10% 0;
}

div{
    padding: 0;
}

#til{
    font-size: 4em;
    margin-top: 20%;
}

.til{
    margin: auto;
    font-size: 2em;
    margin-top: 10%;
}

#pic01 {
    background-image: url('https://truth.bahamut.com.tw/s01/201710/e9701c2864016ca07e386896c6b91892.JPG');
    height: 750px;
  }

  div#two > h2{
      font-size: 6em;
      margin: 25% 0;
  }

#pic02 {
    background-image: url('mii.png');
}

.pic{
    min-height: 500px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

table{
    margin: 15% 30%;
}

.ff{
    font-size: 2em;
}

#ff{
    font-size: 5em;
}

#little01{
    margin: 5% 0;
}

#pic03{
    background-image: url('https://f4.bcbits.com/img/a0849934538_10.jpg');
}

 #sisi{
    font-size: 6em;
    margin: 25% 0;
}

#pic04{
    background-image: url('katsuha.jpg');
}

#pic05{
    background-image: url('https://i.ytimg.com/vi/w4iL6aUwMZ4/maxresdefault.jpg');
}

#sese{
    font-size:5em;
}

.sese{
    font-size: 3em;
    margin: 15% 0;
}

#eiei{
    font-size: 5em;
}

.eiei{
    font-size: 3em;
    margin: 15% 0;
}

nav{
    padding:0 30%;
    margin: 15% 0;
}

li{
    font-size: 3em;
}

#pic06{
    background-image: url('huei.jpg');
}

#tete{
    font-size: 5em;
    margin: 25% 0;
}

#appear{
    height: 3.5em;
    width: 5em;
    position: fixed;
    padding-top: 1.5em;

    margin-top: -14em;
    margin-left: 75em;
    background-color: antiquewhite;
}

a:link, a:visited{
    text-decoration: none;
    color:#ff00ff;
    }

a:hover{
    color:#ff79bc;
}